# Override the data shown on the card (all optional)
EXPO_PUBLIC_SCHOOL_NAME=EMSI MAARIF
EXPO_PUBLIC_STUDENT_LAST_NAME=DOE
EXPO_PUBLIC_STUDENT_FIRST_NAME=JOHN
EXPO_PUBLIC_ACADEMIC_YEAR=2025 / 2026
EXPO_PUBLIC_STUDENT_ID=
EXPO_PUBLIC_STUDENT_PROGRAM=
